html{
    min-height: 100%;
}

body{
    background-color: #000428;
    background: linear-gradient(to top, #004e92, #000428);
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

header{
    width: 45%;
    margin: auto;
}

header h1{
    text-align : center;
    font-size: 40px;
    color: white;
    font-family: 'Concert One', cursive;
    text-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0px 0px #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
    cursor: pointer;
}

header .logoMPG{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 32%;
    margin-top: -20px;
}

header img{
    width: 200px;
}

nav{
    width: 640px;
    margin: auto;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    padding: 10px 0px;
    color: white;
    font-family: 'Concert One', cursive;
    text-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0px 0px #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
    font-size: 20px;
    width: 150px;
}

nav ul li:hover{
    cursor: pointer;
}

.show{
    display: block;
}

.show section{
    border: solid black 2px;
    padding: 35px;
    width: 650px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}

.show h3{
    text-align: left;
    margin-left: 50px;
    font-size: 32px;
    width: 500px;
    margin-bottom: 0px;
}

.show h4{
    font-size: 12px;
    text-align: left;
    margin-left: 50px;
    margin-bottom: 20px;
    color: grey;
}

.show p{
    width: 550px;
    margin: auto;
    line-height: 33px;
}

/* Les Participants */

.showParticipants{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.players{
    width: 240px;
    margin: 25px;
    padding: 25px;
    background-color: white;
    margin-bottom: 50px;
}

.players img{
    width: 240px;
    border-radius: 120px;
    height: 240px;
}

.players p{
    text-align: center;
}

.players button{
    margin-left: 74px;
    padding: 7px 22px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    border-color: #3498db;
}

/* Les Equipes */

.dropDownList{
    margin: auto;
    width: 12%;
    height: 35px;
    font-weight: bold;
    background-color: white;
}

.showName{
    text-align: center;
    color : white;
    font-weight: bold;
    text-shadow: -1px 0 0 #000, 1px 0 0 #000, 0 1px 0 #000, 0 -1px 0 #000, 0px 0px #000, 0px 0px 0 #000, 0px 0px 0 #000, 0px 0px 0 #000;
}

.showEquipes table{
    background-color: white;
    margin: auto;
    margin-top: 50px; 
    width: 650px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.showEquipes table th{
    background-color : #4cd137;
    color:white;
    padding: 12px;
    width: 200px;
    font-size: 18px;
}

.showEquipes table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.showEquipes table td{
    width: 188px;
    text-align: center;
    padding: 13px 5px;
}

.showClassement table{
    background-color: white;
    margin: auto;
    margin-top: 50px; 
    width: 650px;
    border-collapse: collapse;
    margin-bottom: 50px;
}

.showClassement table th{
    background-color : #4cd137;
    color:white;
    padding: 12px;
    width: 200px;
    font-size: 18px;
}

.showClassement table th:nth-of-type(2){
    padding: 12px 110px;
}

.showClassement table td{
    width : 188px;
    text-align: center;
    padding: 13px 5px;
}

.showClassement table td:nth-of-type(3){
    font-weight: bold;
}

.showClassement table tr:nth-child(even) {
    background-color: #f2f2f2;
}


footer ul li{
    color: white;
}

footer ul li a{
    color: white;
    text-decoration: none;
}


